<?php
$wgSitename      = "ropewiki";
$wgMetaNamespace = "Ropewiki";

## The protocol and server name to use in fully-qualified URLs
$wgServer           = "{{ wgServer }}";

$wgLogo = "{{ wgLogo }}";

$semanticServer = '{{ semanticServer }}';

## Database settings
$wgDBtype           = "{{ dbType }}";
$wgDBserver         = "{{ dbServer }}";
$wgDBname           = "{{ dbName }}";
$wgDBuser           = "{{ dbUser }}";
$wgDBpassword       = "{{ dbPassword }}";

$wgSecretKey = "{{ wgSecretKey }}";

# Site upgrade key. Must be set to a string (default provided) to turn on the
# web installer while LocalSettings.php is in place
$wgUpgradeKey = "{{ wgUpgradeKey }}";